body {
    background-color: black;

}

h1 {
    color: rgb(61, 38, 27);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    font-size: 2rem;
}


p {
    color: rgb(178, 134, 220);
    font-size: 1.2em;
}

img {
    width: 300px;
}

/* option + sgift + 8 ->  { */